absl-py==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
astunparse==1.6.3 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "4.0"
blinker==1.8.2 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and platform_system == "Windows"
deepface==0.0.92 ; python_version >= "3.12" and python_version < "4.0"
dlib==19.24.4 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.15.4 ; python_version >= "3.12" and python_version < "4.0"
fire==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
flask==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
flatbuffers==24.3.25 ; python_version >= "3.12" and python_version < "4.0"
gast==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
gdown==5.2.0 ; python_version >= "3.12" and python_version < "4.0"
google-pasta==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
grpcio==1.64.1 ; python_version >= "3.12" and python_version < "4.0"
gunicorn==22.0.0 ; python_version >= "3.12" and python_version < "4.0"
h5py==3.11.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.7 ; python_version >= "3.12" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.12" and python_version < "4.0"
joblib==1.4.2 ; python_version >= "3.12" and python_version < "4.0"
keras==3.4.1 ; python_version >= "3.12" and python_version < "4.0"
libclang==18.1.1 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
markdown==3.6 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
ml-dtypes==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
mtcnn==0.1.1 ; python_version >= "3.12" and python_version < "4.0"
namex==0.0.8 ; python_version >= "3.12" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "4.0"
opencv-python==4.10.0.84 ; python_version >= "3.12" and python_version < "4.0"
opt-einsum==3.3.0 ; python_version >= "3.12" and python_version < "4.0"
optree==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
pandas==2.2.2 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
protobuf==4.25.3 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.12" and python_version < "4.0"
pysocks==1.7.1 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
pytz==2024.1 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
requests[socks]==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
retina-face==0.0.17 ; python_version >= "3.12" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.12" and python_version < "4.0"
scikit-learn==1.5.1 ; python_version >= "3.12" and python_version < "4.0"
scipy==1.14.0 ; python_version >= "3.12" and python_version < "4.0"
setuptools==70.3.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.12" and python_version < "4.0"
tensorboard-data-server==0.7.2 ; python_version >= "3.12" and python_version < "4.0"
tensorboard==2.17.0 ; python_version >= "3.12" and python_version < "4.0"
tensorflow==2.17.0 ; python_version >= "3.12" and python_version < "4.0"
termcolor==2.4.0 ; python_version >= "3.12" and python_version < "4.0"
threadpoolctl==3.5.0 ; python_version >= "3.12" and python_version < "4.0"
tqdm==4.66.4 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.12" and python_version < "4.0"
werkzeug==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
wheel==0.43.0 ; python_version >= "3.12" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
